<div class="palette">
  <div *ngFor="let blockType of blockTypes" 
       class="palette-item"
       (click)="onBlockClick(blockType.type)"
       [attr.aria-label]="'Add ' + blockType.label + ' block to widget'"
       tabindex="0"
       role="button">
    <div class="palette-item-content">
      <div class="block-icon" aria-hidden="true">{{ blockType.icon }}</div>
      <div class="block-info">
        <h4>{{ blockType.label }}</h4>
        <p>{{ blockType.description }}</p>
      </div>
    </div>
  </div>
</div>