<div class="palette-header">
  <h3>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
      <path d="M1 3a1 1 0 011-1h12a1 1 0 011 1v10a1 1 0 01-1 1H2a1 1 0 01-1-1V3zm1 0v10h12V3H2z"/>
      <path d="M4 5h8v1H4zM4 7h6v1H4zM4 9h8v1H4z"/>
    </svg>
    Blocks
  </h3>
  <p>Drag and drop blocks to build your widget</p>
</div>

<!-- Added cdkDropList with ID 'palette' and connected to columns -->
<div class="palette" cdkDropList id="palette" [cdkDropListConnectedTo]="getConnectedDropLists()">
  <div *ngFor="let blockType of blockTypes"
       class="palette-item"
       cdkDrag
       [cdkDragData]="blockType.type"
       (cdkDragStarted)="onDragStarted($event)"
       (cdkDragEnded)="onDragEnded($event)"
       [attr.data-block-type]="blockType.type"
       [attr.aria-label]="'Add ' + blockType.label + ' block to widget'"
       tabindex="0"
       role="button">
    <div class="palette-item-content">
      <div class="block-icon" aria-hidden="true">{{ blockType.icon }}</div>
      <div class="block-info">
        <h4>{{ blockType.label }}</h4>
        <p>{{ blockType.description }}</p>
      </div>
      <div class="add-indicator" aria-hidden="true">+</div>
    </div>
    <!-- Drag preview -->
    <div class="palette-item-preview" *cdkDragPreview>
      <div class="preview-content">
        <div class="block-icon">{{ blockType.icon }}</div>
        <span class="block-label">{{ blockType.label }}</span>
      </div>
    </div>
  </div>
</div>